@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v21-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-900.woff') format('woff');
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a18268;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
}

/* base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
address {
  font-style: normal;
}
.section {
  padding: 48px 0px;
}
.visualy-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0px 24px;
}

/* button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.button:disabled {
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
  cursor: not-allowed;
}

/* link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: var(--color-brand-normal);
  /* font-weight: 600; */
}

/* header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
/* hero section */
.hero-section {
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 272px 0px;
}
.hero-title {
  margin-bottom: 0;
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  color: var(--color-primary-light);
}
.hero-title .accent {
  color: var(--color-brand-normal);
}

/* advantages section */
.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0px;
}
.advantages-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brand-dark);
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}

/* tradition section */
.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}
.traditions-text .uppercase {
  text-transform: uppercase;
}
.traditions-text.limited {
  max-width: 340px;
}
.traditions-section {
  padding-top: 96px;
}
.tradition-title {
  margin-bottom: 42px;
}
.traditions-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.traditions-content {
  max-width: 710px;
}

/* chefs section */
.chefs-title {
  position: relative;
  margin: 0 auto 80px;
}
.chefs-title::before,
.chefs-title::after {
  display: block;
  position: absolute;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}
.chefs-title::before {
  left: 0;
}
.chefs-title::after {
  right: 0;
}
.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}
.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
.chef-card {
  display: flex;
  gap: 30px;
}
.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
.chef-text p {
  margin-bottom: 24px;
}
.chef-text p:last-child {
  margin-bottom: 0px;
}
.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

/* format section */
.formats-title {
  margin-bottom: 80px;
}
.format-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.format-card {
  height: 444px;
  border: 1px solid lightgray; /*remove*/
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  padding: 24px;
  transition: transform 0.3s;
}
.format-card:hover {
  transform: scale(1.05);
}
.formats-list {
  display: flex;
  gap: 20px;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

/* carusel */
.carusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}
.carusel-button.next {
  transform: rotate(180deg);
}
.carusel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* contact section */
.contacts-section {
  padding-bottom: 96px;
}
.contacts-title {
  margin-bottom: 16px;
  width: 616px;
}
.contacts-container {
  display: flex;
  gap: 32px;
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
  width: 100%;
  max-width: 605px;
  height: 595px;
}

/* footer */
.footer {
  position: relative;
  padding: 32px 0px;
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: '';
}
footer::before {
  left: 0;
  width: 180px;
  height: 120px;
  background-image: url('../images/decor-bread-small.png');
}
footer::after {
  right: 0;
  width: 380px;
  height: 190px;
  background-image: url('../images/decor-bread-large.png');
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo,
.footer-menu,
.address-list,
.address-info {
  flex-grow: 1;
}
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand-normal);
}
.address-icon {
  fill: var(--color-primary-light);
}
.address-icon:hover {
  fill: var(--color-brand-normal);
}
.address-copyright {
  font-weight: 400;
  color: #a18268;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
}
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

/* form */
.form-field {
  margin-bottom: 32px;
}

.form-label {
  display: block;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  max-width: 220px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
