.contacts-section {
  padding-bottom: 96px;
}

.contacts-title {
  margin-bottom: 16px;
  width: 616px;
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
  width: 100%;
  max-width: 605px;
  height: 595px;
}
