.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0px;

  &__list {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }

  &__item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary-light);
  }
}
