.formats-section {
  &__container {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 20px;
  }

  &__item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
