.hero-section {
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 272px 0px;

  &__title {
    margin-bottom: 0;
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    color: var(--color-primary-light);
  }
}
